@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: 277 30% 95%;
    --foreground: 277 5% 0%;
    --card: 277 30% 90%;
    --card-foreground: 277 5% 10%;
    --popover: 277 30% 95%;
    --popover-foreground: 277 95% 0%;
    --primary: 277 78% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 277 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 239 30% 85%;
    --muted-foreground: 277 5% 35%;
    --accent: 239 30% 80%;
    --accent-foreground: 277 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 277 5% 90%;
    --border: 277 30% 50%;
    --input: 277 30% 18%;
    --ring: 277 78% 21%;
    --radius: 0.5rem;
}

.dark {
    --background: 277 30% 5%;
    --foreground: 277 5% 90%;
    --card: 277 30% 0%;
    --card-foreground: 277 5% 90%;
    --popover: 277 30% 5%;
    --popover-foreground: 277 5% 90%;
    --primary: 277 78% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 277 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 239 30% 15%;
    --muted-foreground: 277 5% 60%;
    --accent: 239 30% 15%;
    --accent-foreground: 277 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 277 5% 90%;
    --border: 277 30% 18%;
    --input: 277 30% 18%;
    --ring: 277 78% 21%;
    --radius: 0.5rem;
}


.mask-border {
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}